.search .wrapper { @include flex(row);}

form {
    @include boxsizing;
    width: 30%;
    padding: 5px 0 15px;
    border-radius: 8px;
    margin: 20px 0;
    display: block;
    text-align: center;
    background-color: #f5f5f5;
    box-shadow: 0 0 10px #cccccc;

    .form-group {
        @include boxsizing;
        width: 90%;
        margin: 10px auto;
        position: relative;
    }

    input {
        @include boxsizing;
        width: 100%;
        padding: 7px 4%;
        border: 0;
        margin-bottom: 18px;
        color: #555555;
        text-align: center;
        font-size: 18px;
        outline: none;
    }

    span {
        width: 100%;
        padding: 5px 0 0;
        border-radius: 5px;
        display: block;
        position: absolute;
        bottom: 0;
        color: #bd1818;
        font-size: 12px;
        transition: .3s ease;
        opacity: 0
    }

    .error { opacity: 1;}

    .form-control {
        @include flex(row,space-between);
        width: 90%;
        margin: 0 auto;
    }

    button {
        width: 49%;
        padding: 5px 0;
        border: 0;
        background-color: #808080;
        color: #fafafa;
        font-size: 18px;
        text-transform: capitalize;

        &:hover { background-color: #585858;}
    }
}

.display {
    @include flex(row,space-between,null,end);
    @include boxsizing;
    width: 30%;
    padding: 0 2.5% 20px;
    margin: 20px 5%;
    border-radius: 15px;
    box-shadow: 0 0 10px #bbbbbb;
    display: none;
    background-color: rgba(240, 243, 255, 0.5);

    .status {text-align: center;}

    h2 {
        color: #333333;
        font-size: 20px;
        text-transform: capitalize;
    }

    h3 {
        margin: 10px 0;
        color: #555555;
        font-size: 25px;
        font-weight: 600;
    }

    h4 {
        color: #808080;
        font-size: 15px;
    }

    h5 {
        color: #444444;
        text-transform: capitalize;
        font-size: 18px;
    }
}

.show { display: flex;}